<form [formGroup]="addUserForm">
  <label for="showCountryCheckbox">Paradit valsts izvelni</label>
  <input type="checkbox"
         id="showCountryCheckbox"
         [(ngModel)]="showCountrySelect"
         [ngModelOptions]="{standalone: true}"
  >
  <span>{{showCountrySelect}}</span>

  <div>
    <label for="name">Vards</label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="surname">Uzvards</label>
    <input id="surname" type="text" formControlName="surname">
  </div>

  <div *ngIf="showCountrySelect">
    <label for="country">Valsts</label>
    <select id="country" formControlName="country">
      <option value="lv">Latvija</option>
      <option value="lt">Lietuva</option>
      <option value="ee">Igaunija</option>
    </select>
  </div>

  <button [disabled]="addUserForm.invalid" type="button" (click)="addUser()">Pievienot</button>

</form>

<span>{{addUserForm.value | json}}</span>
