.header {
  background-color: lightgray;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.links {
  display: flex;
  gap: 10px;
}

.link {
  padding: 10px;
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid deeppink;
  }
}

.active {
  border-bottom: 1px solid dodgerblue;
}

.logo {
  font-size: 25px;
  font-weight: bold;
}
